@charset "utf-8";
body,div{
	margin: 0px;
}
.container{
	 margin: 0px auto;
	 padding: 0 15px;
}
.row{
	margin: 0px -15px;
}
.col-sm-1,.col-sm-2,.col-sm-4,.col-sm-3,.col-sm-6,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-6,.col-xs-8{
	padding: 0 15px;
}
.content{
	line-height: 98px;
	text-align: center;
	color: #a45f4b;
	font-family: 微软雅黑;
	font-size: 20px;
	width: 100%;
	height: 98px;
	background-color: #eee;
}
@media(max-width: 767px){
	.container{
		width: 80%;
	}
	.row{
		width: calc(100% + 30px);
	}
	.col-xs-12{
		width: calc(100% - 32px);
		height: 98px;
		float: left;
		border: 1px solid red;
	}
	.col-xs-2{
		width:calc(16.6667% - 32px);
		height: 98px;
		float: left;
		border: 1px solid red;
	}
	.col-xs-3{
		width: calc(25% - 32px);
		height: 98px;
		float: left;
		border: 1px solid red;
	}
	.col-xs-6{
		width: calc(50% - 32px);
		height: 98px;
		float: left; 
		border: 1px solid red;
	}
	.col-xs-8{
		width: calc(66.6667% - 32px);
		height: 98px;
		float: left;
		border: 1px solid red;	
	}	
}
@media(min-width: 768px){
	.container{
		width: 80%;

	}
	.row{
		width: calc(100% + 30px);
		height: 100px;
		

	}
	.col-sm-1{
		width: calc(8.3333% - 32px);
		height: 98px;
		float: left;
		border: 1px solid red;
	}
	.col-sm-2{
		width: calc(16.6667% - 32px);
		height: 98px;
		float: left;
		border: 1px solid red;
	}
	.col-sm-4{
		width: calc(33.3333% - 32px);
		height: 98px;
		float: left;
		border: 1px solid red;
	}
	.col-sm-3{
		width:calc(25% - 32px);
		height: 98px;
		float: left;
		border: 1px solid red;	
	}
	.col-sm-6{
		width: calc(50% - 32px);
		height: 98px;
		float: left; 
		border: 1px solid red;
	}
}
/*@media (min-width: 992px) {
	.container{
		width: 1250px;
	}
	.row{
		width: 1280px;
		height: 100px;
		background-color: #aaa;
	}
	.col-sm-1{
		width: 74px;
		height: 98px;
		float: left;
		border: 1px solid red;
	}
	.col-sm-2{
		width: 181px;
		height: 98px;
		float: left;
		border: 1px solid red;
	}
	.col-sm-4{
		width: 394px;
		height: 98px;
		float: left;
		border: 1px solid red;
	}
	.col-sm-3{
		width: 288px;
		height: 98px;
		float: left;
		border: 1px solid red;	
	}
	.col-sm-6{
		width: 608px;
		height: 98px;
		float: left; 
		border: 1px solid red;
	}
}*/
